<% provide(:title, 'ダッシュボード') %>
<main>
  <div id="flash_messages">
    <%= render 'layouts/flash' %>
  </div>
  <h1>
    <%= display_user_greeting(user_info(current_user)) %>
  </h1>

  <div id="calendar">
    <%= render 'simple_calendar/month_calendar', start_date: @start_date, previous_link: @previous_link, today_link: @today_link, next_link: @next_link, weeks: @weeks do |date, diaries_for_date| %>
      <div class="day <%= 'today' if date == Date.today %>">
        <div class="date-number"><%= date.day %></div>
        <% diaries_for_date.each do |diary| %>
          <% diary.stamps.each do |stamp| %>
            <%= link_to image_tag(stamp.stamp_image, class: 'diary-stamp'), diary_path(diary) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <ul>
    <li class="write_diary_button"><%= link_to 'にっきをかく', new_diary_path %></li>
    <% if user_info(current_user)[:role] == 'teacher' %>
      <li class="show_diary_button"><%= link_to 'にっきをみる', class_selection_path %></li>
    <% end %>
  </ul>
</main>
